<section class="contact section">
  <div class="container">
    <h2 class="contact-title">Contact Us</h2>

    <div class="contact-inner">
      <div class="contact-content">
        <p class="contact-form-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>

        <form class="contact-form">
          <input
            class="contact-input"
            type="text"
            name="name"
            placeholder="Name"
            aria-label="user name"
            required
          />

          <input
            class="contact-input"
            type="email"
            name="email"
            placeholder="Email"
            aria-label="user email"
            required
          />

          <input
            class="contact-input"
            type="tel"
            name="tel"
            placeholder="+380"
            aria-label="user tel"
            required
          />

          <textarea
            class="contact-comment"
            name="comment"
            placeholder="Comment"
            aria-label="user comment"
          ></textarea>

          <button class="contact-btn" type="submit">Send</button>
        </form>
      </div>
      <div class="contact-img-wrapper">
        <img src="/img/contact-img.jpg" alt="clock" width="530" height="556" />
      </div>
    </div>
  </div>
</section>
