.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.section {
  padding: 50px 0;
}
