.contact-title {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.contact-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-content {
  width: 100%;
  padding: 48px 28px;
  border-radius: 30px;

  background-color: #f3f3f3;
}

.contact-form-text {
  margin-bottom: 28px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.02em;

  font-weight: 500;
}

.contact-input,
.contact-comment {
  display: block;
  margin-bottom: 18px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  background-color: transparent;
  border-radius: 12px;
  padding-left: 14px;
  width: 100%;
  height: 42px;

  line-height: 1.25;
  color: #0c0c0c;
  outline: none;

  transition: border-color 250ms ease-in-out;
}

.contact-input::placeholder,
.contact-comment::placeholder {
  color: #0c0c0c;
}

:is(.contact-input, .contact-comment):focus {
  border-color: #3350e9;
}

.contact-comment {
  height: 84px;
  padding: 12px 14px;
  margin-bottom: 28px;
  resize: none;
}

.contact-btn {
  border-radius: 16px;
  padding: 12px 24px;
  min-width: 134px;

  background: #3350e9;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;

  transition: background-color 250ms ease-in-out;
}

.contact-btn:hover,
.contact-btn:focus {
  background-color: #1f3cd4;
}

.contact-img-wrapper {
  flex-grow: 1;
  border-radius: 50px;
  overflow: hidden;
  height: 512px;
}

.contact-img-wrapper img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .contact-title {
    margin-bottom: 40px;

    font-size: 48px;
    line-height: 0.92;
  }

  .contact-inner {
    gap: 40px;
  }

  .contact-content {
    border-radius: 50px;
    padding: 50px 122px;
  }

  .contact-form-text {
    margin-bottom: 32px;

    line-height: 1.25;
    font-size: 16px;
  }

  .contact-input,
  .contact-comment {
    padding-left: 18px;
    height: 52px;
  }

  .contact-comment {
    height: 90px;
    padding: 16px;
    margin-bottom: 32px;
  }

  .contact-btn {
    padding: 17px 24px;
    min-width: 160px;
  }

  .contact-img-wrapper {
    height: 556px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-inner {
    flex-direction: row;
  }

  .contact-content {
    flex-shrink: 0;
    width: 580px;
    padding: 50px 60px;
  }

  .contact-img-wrapper {
    height: auto;
  }
}
